alias vagrant-ip="vagrant ssh -c \"ip address show eth0 | grep 'inet ' | sed -e 's/^.*inet //' -e 's/\/.*$//'\""

alias postgres_start="pg_ctl -D /usr/local/var/postgres start"
alias mysql_start="mysql.server start"

alias tf-graph="terraform graph | dot -Tpng -oterraform.png && open terraform.png"
alias tf-plan="terraform plan -var-file $USER.secret.tfvars"
alias tf-apply="terraform apply -var-file $USER.secret.tfvars"
alias tf-destroy="terraform destroy -var-file $USER.secret.tfvars"

# Convenient Docker aliases
alias start_jenkins="docker run -p 8080:8080 -p 50000:50000 -v /Users/mcampbell/data/jenkins:/var/jenkins_home jenkins"

# Kubernetes aliases
alias k="kubectl"
