[user]
	name = Matthew Campbell
	email = mjc4648@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	glog = log --graph --all --oneline
	gglog = log --graph --all
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
